In [6]:
from pandas_datareader import data as pdr
import pandas as pd
from pymongo import MongoClient
import yfinance as yf
yf.pdr_override()

In [7]:
import datetime
end = datetime.date.today()
data5 = pdr.DataReader('GOOGL', data_source='yahoo', start='2015-01-01', end=end)

[*********************100%***********************]  1 of 1 completed

In [8]:
#Step 1: Connect to MongoDB - Note: Change connection string as needed
myclient = MongoClient("mongodb://localhost:27017/")
mydb = myclient["finance"]
mydb.drop_collection("GOOGLE")
GOOGL_col = mydb["GOOGL"]

In [9]:
# Step 2: Insert Data into DB
data5.reset_index(inplace=True) # Reset Index
data_dict = data5.to_dict("records") # Convert to dictionary
GOOGL_col.insert_one({"index":"GOOGL","data":data_dict}) # inesrt into DB
GOOGL_col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'finance'), 'GOOGL')

In [10]:

# Step 3: Get data from DB
data_from_db = GOOGL_col.find_one({"index":"GOOGL"})
output_dataframe = pd.DataFrame(data_from_db["data"])
output_dataframe.set_index("Date",inplace=True)
print(output_dataframe)

                   Open         High          Low        Close    Adj Close  \
Date
2014-12-31   537.739990   538.400024   530.200012   530.659973   530.659973
2015-01-02   532.599976   535.799988   527.880005   529.549988   529.549988
2015-01-05   527.150024   527.989990   517.750000   519.460022   519.460022
2015-01-06   520.500000   521.210022   505.549988   506.640015   506.640015
2015-01-07   510.950012   511.489990   503.649994   505.149994   505.149994
...                 ...          ...          ...          ...          ...
2020-08-27  1646.609985  1647.989990  1618.810059  1628.520020  1628.520020
2020-08-28  1629.469971  1641.349976  1625.609985  1639.430054  1639.430054
2020-08-31  1643.569946  1644.500000  1625.329956  1629.530029  1629.530029
2020-09-01  1632.160034  1659.219971  1629.530029  1655.079956  1655.079956
2020-09-02  1668.010010  1726.099976  1660.189941  1717.390015  1717.390015

             Volume
Date
2014-12-31  1232400
2015-01-02  1324000
2015-01-05  2059100
2015-01-06  2722800
2015-01-07  2345900
...             ...
2020-08-27  1567500
2020-08-28  1120900
2020-08-31  1321100
2020-09-01  1133800
2020-09-02  2476100

[1429 rows x 6 columns]

In [6]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

dbname = input("Enter database name: ")
mydb = myclient[dbname]

#list the collections
for coll in mydb.list_collection_names():
    print(coll)

Enter database name: finance
AAPL
MSFT
NFLX
GOOGL
AMZN