In [1]:
from pandas_datareader import data as pdr
import pandas as pd
from pymongo import MongoClient
import yfinance as yf
yf.pdr_override()

In [2]:
import datetime
end = datetime.date.today()

data2 = pdr.DataReader('MSFT', data_source='yahoo', start='2015-01-01', end=end)

[*********************100%***********************]  1 of 1 completed

In [3]:
#Step 1: Connect to MongoDB - Note: Change connection string as needed
myclient = MongoClient("mongodb://localhost:27017/")
mydb = myclient["finance"]
mydb.drop_collection("MSFT")
MSFT_col = mydb["MSFT"]

In [4]:
# Step 2: Insert Data into DB
data2.reset_index(inplace=True) # Reset Index
data_dict = data2.to_dict("records") # Convert to dictionary
MSFT_col.insert_one({"index":"MSFT","data":data_dict}) # inesrt into DB

In [5]:

# Step 3: Get data from DB
data_from_db = MSFT_col.find_one({"index":"MSFT"})
output_dataframe = pd.DataFrame(data_from_db["data"])
output_dataframe.set_index("Date",inplace=True)
print(output_dataframe)

                  Open        High         Low       Close   Adj Close  \
Date
2014-12-31   46.730000   47.439999   46.450001   46.450001   41.371773
2015-01-02   46.660000   47.419998   46.540001   46.759998   41.647892
2015-01-05   46.369999   46.730000   46.250000   46.330002   41.264908
2015-01-06   46.380001   46.750000   45.540001   45.650002   40.659245
2015-01-07   45.980000   46.459999   45.490002   46.230000   41.175831
...                ...         ...         ...         ...         ...
2020-09-02  227.970001  232.860001  227.350006  231.649994  231.649994
2020-09-03  229.270004  229.309998  214.960007  217.300003  217.300003
2020-09-04  215.100006  218.360001  205.190002  214.250000  214.250000
2020-09-08  206.500000  210.029999  202.199997  202.660004  202.660004
2020-09-09  207.600006  214.839996  206.699997  211.289993  211.289993

              Volume
Date
2014-12-31  21552500
2015-01-02  27913900
2015-01-05  39673900
2015-01-06  36447900
2015-01-07  29114100
...              ...
2020-09-02  34080800
2020-09-03  58400300
2020-09-04  59664100
2020-09-08  52924300
2020-09-09  45582200

[1433 rows x 6 columns]

In [19]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

dbname = input("Enter database name: ")
mydb = myclient[dbname]

#list the collections
for coll in mydb.list_collection_names():
    print(coll)

Enter database name: finance
AAPL
MSFT