In [26]:
from pandas_datareader import data as pdr
import pandas as pd
from pymongo import MongoClient
import yfinance as yf
yf.pdr_override()

In [27]:
import datetime
end = datetime.date.today()

data4 = pdr.DataReader('NFLX', data_source='yahoo', start='2015-01-01', end=end)

[*********************100%***********************]  1 of 1 completed

In [28]:
#Step 1: Connect to MongoDB - Note: Change connection string as needed
myclient = MongoClient("mongodb://localhost:27017/")
mydb = myclient["finance"]
#mydb.drop_collection("NFLX")
NFLX_col = mydb["NFLX"]

In [29]:
# Step 2: Insert Data into DB
data4.reset_index(inplace=True) # Reset Index
data_dict = data4.to_dict("records") # Convert to dictionary
NFLX_col.insert_one({"index":"NFLX","data":data_dict}) # inesrt into DB
#AAPL_col

In [30]:

# Step 3: Get data from DB
data_from_db = NFLX_col.find_one({"index":"NFLX"})
output_dataframe = pd.DataFrame(data_from_db["data"])
output_dataframe.set_index("Date",inplace=True)
print(output_dataframe)

                  Open        High         Low       Close   Adj Close  \
Date
2014-12-31   49.032856   49.391430   48.787144   48.801430   48.801430
2015-01-02   49.151428   50.331429   48.731430   49.848572   49.848572
2015-01-05   49.258572   49.258572   47.147144   47.311428   47.311428
2015-01-06   47.347141   47.639999   45.661430   46.501427   46.501427
2015-01-07   47.347141   47.421429   46.271427   46.742859   46.742859
...                ...         ...         ...         ...         ...
2020-09-02  553.780029  556.500000  537.369995  552.840027  552.840027
2020-09-03  545.000000  554.000000  521.320007  525.750000  525.750000
2020-09-04  520.179993  527.359985  485.980011  516.049988  516.049988
2020-09-08  498.399994  522.000000  495.000000  507.019989  507.019989
2020-09-09  519.210022  520.000000  492.570007  500.190002  500.190002

              Volume
Date
2014-12-31   8627500
2015-01-02  13475000
2015-01-05  18165000
2015-01-06  16037700
2015-01-07   9849700
...              ...
2020-09-02   5886900
2020-09-03   9071100
2020-09-04   8270100
2020-09-08   5572700
2020-09-09   6837900

[1433 rows x 6 columns]

In [6]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

dbname = input("Enter database name: ")
mydb = myclient[dbname]

#list the collections
for coll in mydb.list_collection_names():
    print(coll)

Enter database name: finance
AAPL
MSFT
NFLX
AMZN