In [3]:
from pandas_datareader import data as pdr
import pandas as pd
from pymongo import MongoClient
import yfinance as yf
import datetime
yf.pdr_override()

In [4]:
end = datetime.date.today()
data3 = pdr.DataReader('AMZN', data_source='yahoo', start='2015-01-01', end=end)

[*********************100%***********************]  1 of 1 completed

In [5]:
#Step 1: Connect to MongoDB - Note: Change connection string as needed
myclient = MongoClient("mongodb://localhost:27017/")
mydb = myclient["finance"]
mydb.drop_collection('AMZN')
AMZN_col = mydb["AMZN"]

In [6]:
# Step 2: Insert Data into DB
data3.reset_index(inplace=True) # Reset Index
data_dict = data3.to_dict("records") # Convert to dictionary
AMZN_col.insert_one({"index":"AMZN","data":data_dict}) # inesrt into DB
#AAPL_col

In [7]:

# Step 3: Get data from DB
data_from_db = AMZN_col.find_one({"index":"AMZN"})
output_dataframe = pd.DataFrame(data_from_db["data"])
output_dataframe.set_index("Date",inplace=True)
print(output_dataframe)

                   Open         High          Low        Close    Adj Close  \
Date
2014-12-31   311.549988   312.980011   310.010010   310.350006   310.350006
2015-01-02   312.579987   314.750000   306.959991   308.519989   308.519989
2015-01-05   307.010010   308.380005   300.850006   302.190002   302.190002
2015-01-06   302.239990   303.000000   292.380005   295.290009   295.290009
2015-01-07   297.500000   301.279999   295.329987   298.420013   298.420013
...                 ...          ...          ...          ...          ...
2020-09-02  3547.000000  3552.250000  3486.689941  3531.449951  3531.449951
2020-09-03  3485.000000  3488.409912  3303.000000  3368.000000  3368.000000
2020-09-04  3318.000000  3381.500000  3111.129883  3294.620117  3294.620117
2020-09-08  3144.000000  3250.850098  3130.000000  3149.840088  3149.840088
2020-09-09  3202.989990  3303.179932  3185.000000  3268.610107  3268.610107

             Volume
Date
2014-12-31  2048000
2015-01-02  2783200
2015-01-05  2774200
2015-01-06  3519000
2015-01-07  2640300
...             ...
2020-09-02  3931500
2020-09-03  8161100
2020-09-04  8781800
2020-09-08  6094200
2020-09-09  5173200

[1433 rows x 6 columns]

In [7]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

dbname = input("Enter database name: ")
mydb = myclient[dbname]

#list the collections
for coll in mydb.list_collection_names():
    print(coll)

Enter database name: finance
AAPL
MSFT
AMZN