In [2]:
from pandas_datareader import data as pdr
import pandas as pd
from pymongo import MongoClient
import yfinance as yf
import datetime
yf.pdr_override()

In [3]:
end = datetime.date.today()

data6 = pdr.DataReader('FB', data_source='yahoo', start='2015-01-01', end=end)

[*********************100%***********************]  1 of 1 completed

In [6]:
#Step 1: Connect to MongoDB - Note: Change connection string as needed
myclient = MongoClient("mongodb://localhost:27017/")
mydb = myclient["finance"]
mydb.drop_collection("FB")
FB_col = mydb["FB"]

In [7]:
# Step 2: Insert Data into DB
data6.reset_index(inplace=True) # Reset Index
data_dict = data6.to_dict("records") # Convert to dictionary
FB_col.insert_one({"index":"FB","data":data_dict}) # inesrt into DB
FB_col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'finance'), 'FB')

In [8]:

# Step 3: Get data from DB
data_from_db = FB_col.find_one({"index":"FB"})
output_dataframe = pd.DataFrame(data_from_db["data"])
output_dataframe.set_index("Date",inplace=True)
print(output_dataframe)

                  Open        High         Low       Close   Adj Close  \
Date
2014-12-31   79.540001   79.800003   77.860001   78.019997   78.019997
2015-01-02   78.580002   78.930000   77.699997   78.449997   78.449997
2015-01-05   77.980003   79.250000   76.860001   77.190002   77.190002
2015-01-06   77.230003   77.589996   75.360001   76.150002   76.150002
2015-01-07   76.760002   77.360001   75.820000   76.150002   76.150002
...                ...         ...         ...         ...         ...
2020-09-02  298.880005  303.600006  293.049988  302.500000  302.500000
2020-09-03  295.989990  297.600006  283.630005  291.119995  291.119995
2020-09-04  287.250000  289.000000  271.140015  282.730011  282.730011
2020-09-08  271.279999  279.299988  269.420013  271.160004  271.160004
2020-09-09  275.769989  278.480011  271.350006  273.720001  273.720001

              Volume
Date
2014-12-31  19935400
2015-01-02  18177500
2015-01-05  26452200
2015-01-06  27399300
2015-01-07  22045300
...              ...
2020-09-02  24341400
2020-09-03  32294100
2020-09-04  30333700
2020-09-08  24864000
2020-09-09  22878000

[1433 rows x 6 columns]

In [6]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

dbname = input("Enter database name: ")
mydb = myclient[dbname]

#list the collections
for coll in mydb.list_collection_names():
    print(coll)

Enter database name: finance
AAPL
MSFT
NFLX
GOOGL
AMZN
FB