In [5]:
from pandas_datareader import data as pdr
import pandas as pd
from pymongo import MongoClient
import yfinance as yf
yf.pdr_override()

In [6]:

data2 = pdr.DataReader('MSFT', data_source='yahoo', start='2015-01-01', end='2020-09-03')

[*********************100%***********************]  1 of 1 completed

In [14]:
#Step 1: Connect to MongoDB - Note: Change connection string as needed
myclient = MongoClient("mongodb://localhost:27017/")
mydb = myclient["finance"]
MSFT_col = mydb["MSFT"]

In [17]:
# Step 2: Insert Data into DB
data2.reset_index(inplace=True) # Reset Index
data_dict = data2.to_dict("records") # Convert to dictionary
MSFT_col.insert_one({"index":"MSFT","data":data_dict}) # inesrt into DB
#AAPL_col

In [18]:

# Step 3: Get data from DB
data_from_db = MSFT_col.find_one({"index":"MSFT"})
output_dataframe = pd.DataFrame(data_from_db["data"])
output_dataframe.set_index("Date",inplace=True)
print(output_dataframe)

                  Open        High         Low       Close   Adj Close  \
Date
2014-12-31   46.730000   47.439999   46.450001   46.450001   41.371773
2015-01-02   46.660000   47.419998   46.540001   46.759998   41.647892
2015-01-05   46.369999   46.730000   46.250000   46.330002   41.264908
2015-01-06   46.380001   46.750000   45.540001   45.650002   40.659245
2015-01-07   45.980000   46.459999   45.490002   46.230000   41.175831
...                ...         ...         ...         ...         ...
2020-08-27  222.889999  231.149994  219.399994  226.580002  226.580002
2020-08-28  228.179993  230.639999  226.580002  228.910004  228.910004
2020-08-31  227.000000  228.699997  224.309998  225.529999  225.529999
2020-09-01  225.509995  227.449997  224.429993  227.270004  227.270004
2020-09-02  227.970001  232.860001  227.350006  231.649994  231.649994

              Volume
Date
2014-12-31  21552500
2015-01-02  27913900
2015-01-05  39673900
2015-01-06  36447900
2015-01-07  29114100
...              ...
2020-08-27  57602200
2020-08-28  26292900
2020-08-31  28774200
2020-09-01  25791200
2020-09-02  34080800

[1429 rows x 6 columns]

In [19]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

dbname = input("Enter database name: ")
mydb = myclient[dbname]

#list the collections
for coll in mydb.list_collection_names():
    print(coll)

Enter database name: finance
AAPL
MSFT